{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {{ form_start(keysConfigurationForm) }}
            <div class="card">
                <h3 class="card-header">
                    <i class="material-icons">settings</i> {{ 'Configure keys'|trans({}, 'Modules.Scalexpertplugin.Admin') }}
                </h3>
                <div class="card-body">
                    <div class="form-wrapper">
                        <p>
                            {{ 'Please enter your API key here for the different environments.'|trans({}, 'Modules.Scalexpertplugin.Admin') }}
                        </p>
                        <p>
                            {{ 'You can find your API keys via this link'|trans({}, 'Modules.Scalexpertplugin.Admin') }} : <a href="{{ findMyKeyLink }}" target="_blank"> {{ 'Find my API key'|trans({}, 'Modules.Scalexpertplugin.Admin') }}</a>
                        </p>

                        {{ form_row(keysConfigurationForm.scalexpert_keys_type) }}

                        {{ form_row(keysConfigurationForm.scalexpert_keys_id_test) }}

                        {{ form_row(keysConfigurationForm.scalexpert_keys_secret_test) }}

                        <div class="form-group row">
                            <div class="col-sm col-sm-offset-10" >
                                <button class="btn btn-default float-right" id="scalexpert_keys_test_hide">
                                    {{ 'Display/Hide key'|trans({}, 'Modules.Scalexpertplugin.Admin') }}
                                </button>
                            </div>
                        </div>

                        {{ form_row(keysConfigurationForm.scalexpert_keys_id_prod) }}

                        {{ form_row(keysConfigurationForm.scalexpert_keys_secret_prod) }}

                        <div class="form-group row">
                            <div class="col-sm col-sm-offset-10" >
                                <button class="btn btn-default float-right" id="scalexpert_keys_prod_hide">
                                    {{ 'Display/Hide key'|trans({}, 'Modules.Scalexpertplugin.Admin') }}
                                </button>
                            </div>
                        </div>

                        {{ form_row(keysConfigurationForm.scalexpert_keys_check) }}

                        {#{{ form_widget(keysConfigurationForm) }}#}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary float-right" id="save-button">
                            {{ 'Save'|trans({}, 'Admin.Actions') }}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(keysConfigurationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/scalexpertplugin/views/js/keys.js') }}"></script>
{% endblock %}
