{% extends '@!PrestaShop/Admin/layout.html.twig' %}
{% import '@Modules/scalexpertplugin/views/templates/admin/ps81/macros.html.twig' as scalexpert %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {{ form_start(designConfigurationForm) }}
            {% if allSolutions is defined %}
                {% for solution in allSolutions %}
                    <div class="card">
                        <h3 class="card-header">
                            <img src="{{ solution.countryFlag }}" alt="{{ solution.buyerBillingCountry }}"> {{ solution.visualTitle }}
                        </h3>
                        <div class="card-body">
                            <div class="form-wrapper">
                                {% if solution.active %}
                                    <div class="alert alert-success">
                                {% else %}
                                    <div class="alert alert-danger">
                                {% endif %}
                                    <p>
                                        {% if solution.active %}
                                            {{ 'The option "%visualTitle%" is activated on your site'|trans({'%visualTitle%': solution.visualTitle}, 'Modules.Scalexpertplugin.Admin') }}
                                        {% else %}
                                            {{ 'The option "%visualTitle%" is not activated on your site'|trans({'%visualTitle%': solution.visualTitle}, 'Modules.Scalexpertplugin.Admin') }}
                                        {% endif %}
                                        <a class="float-right" href="{{ activeLink }}">{{ 'enable/disable'|trans({}, 'Modules.Scalexpertplugin.Admin') }}</a>
                                    </p>
                                </div>

                                <h4 class="card-title">{{ 'General'|trans({}, 'Modules.Scalexpertplugin.Admin') }}</h4>
                                <hr>

                                {% if solution.generalFields is defined %}
                                    {% for field in solution.generalFields %}
                                        {% if designConfigurationForm[field] is defined %}
                                            <div class="redirect-option-widget">
                                                {{ scalexpert.form_row(designConfigurationForm[field]) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <h4 class="card-title">{{ 'Product page design'|trans({}, 'Modules.Scalexpertplugin.Admin') }}</h4>
                                <hr>

                                {% if solution.productFields is defined %}
                                    {% for field in solution.productFields %}
                                        {% if designConfigurationForm[field] is defined %}
                                            {{ form_row(designConfigurationForm[field]) }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if solution.cartFields is defined %}
                                    <h4 class="card-title">{{ 'Cart page design'|trans({}, 'Modules.Scalexpertplugin.Admin') }}</h4>
                                    <hr>

                                    {% if solution.cartFields is defined %}
                                        {% for field in solution.cartFields %}
                                            {{ form_row(designConfigurationForm[field]) }}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}

                                {% if solution.paymentFields is defined %}
                                    <h4 class="card-title">{{ 'Payment page design'|trans({}, 'Modules.Scalexpertplugin.Admin') }}</h4>
                                    <hr>

                                    {% if solution.paymentFields is defined %}
                                        {% for field in solution.paymentFields %}
                                            {{ form_row(designConfigurationForm[field]) }}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary float-right" id="save-button">
                                    {{ 'Save'|trans({}, 'Admin.Actions') }}
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {{ form_end(designConfigurationForm) }}
        </div>
    </div>

    {% embed '@PrestaShop/Admin/Helpers/bootstrap_popup.html.twig' with {
        'id': 'confirmation_modal',
        'title': "Warning"|trans({}, 'Admin.Notifications.Warning'),
        'closable': false,
        'actions': [
            {
                'type': 'button',
                'label': "No"|trans({}, 'Admin.Global'),
                'class': 'btn btn-outline-secondary btn-lg cancel'
            },
            {
                'type': 'button',
                'label': "Yes"|trans({}, 'Admin.Global'),
                'class': 'btn btn-primary btn-lg continue'
            }
        ],
    } %}
        {% block content %}
            <div class="modal-body">{{ "Are you sure you want to delete this item?"|trans({}, 'Admin.Notifications.Warning') }}</div>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/scalexpertplugin/views/js/choice-tree.js') }}"></script>
    <script src="{{ asset('themes/new-theme/public/product_page.bundle.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/modal-confirmation.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('themes/new-theme/public/product.css') }}" type="text/css" media="all">
{% endblock %}
